@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //TODO SUMA */
.signo {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

#sumar {
    justify-content: center;
    margin-left: 10px;
    background-color: blue;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

#resultadoSuma {
    align-self: center;
    margin-left: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000000;
    background-color: rgba(81, 0, 255, 0.696);
    color: white;
}

.sumarContainer {
    border: 1px solid #000;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    margin-top: 20px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.sumarContainer header {
    margin-bottom: 3px;
    display: block;
}

.danceTop {
    animation-name: danceTop;
    transform-origin: top
}

@keyframes danceTop {
    16% {
        transform: skew(-14deg)
    }

    33% {
        transform: skew(12deg)
    }

    49% {
        transform: skew(-8deg)
    }

    66% {
        transform: skew(6deg)
    }

    83% {
        transform: skew(-4deg)
    }
}

/* //TODO RESTA */
.pepe {
    animation-name: pepe;
    animation-iteration-count: infinite
}

@keyframes pepe {

    from,
    33%,
    66%,
    to {
        transform: rotate(4deg)
    }

    16%,
    50%,
    83% {
        transform: rotate(-4deg)
    }
}

#restar {
    justify-content: center;
    margin-left: 10px;
    background-color: blue;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

#resultadoResta {
    align-self: center;
    margin-left: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000000;
    background-color: rgba(81, 0, 255, 0.696);
    color: white;
}

.restaContainer {
    border: 1px solid #000;
    background: linear-gradient(-45deg, #5e1a1a, #1d1f85, #4a9031, #9fb03f);
    animation: gradient 15s ease infinite;
    margin-top: 20px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.restaContainer header {
    margin-bottom: 3px;
    display: block;
    color: white;
}

.signoBlanco {
    display: inline-block;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

/* //TODO MULTIPLICACION */
.leScaleYIn {
    animation-name: leScaleYIn
}

@keyframes leScaleYIn {
    from {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }

    50% {
        opacity: 1
    }
}

#multiplicar {
    justify-content: center;
    margin-left: 10px;
    background-color: blue;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

#resultadoMulti {
    align-self: center;
    margin-left: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000000;
    background-color: rgba(0, 195, 255, 0.696);
    color: rgb(0, 0, 0);
}

.multiContainer {
    border: 1px solid #000;
    background: linear-gradient(-45deg, #ebfb43, rgb(222, 35, 204), #ed0b0b, #ccda81);
    animation: gradient 15s ease infinite;
    margin-top: 20px;
}

.multiContainer header {
    margin-bottom: 3px;
    display: block;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* //TODO DIVISION */
.leScaleYIn {
    animation-name: leScaleYIn
}

.hu__hu__ {
    animation: hu__hu__ infinite 2s ease-in-out
}

@keyframes hu__hu__ {
    50% {
        transform: translateY(30px)
    }
}

#dividir {
    justify-content: center;
    margin-left: 10px;
    background-color: blue;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

#resultadoDivi {
    align-self: center;
    margin-left: 10px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000000;
    background-color: rgba(255, 0, 0, 0.857);
    color: white;
}

.diviContainer {
    border: 1px solid #000;
    background: linear-gradient(-45deg, #f71add, rgb(225, 143, 143), #fbc40e, #2ef138);
    animation: gradient 15s ease infinite;
    margin-top: 20px;
}

.diviContainer header {
    margin-bottom: 3px;
    display: block;
    color: black;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* //TODO SWITCH DE MODO OSCURO*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--background);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* //TODO MODO OSCURO */
[data-theme="light"] {
    --primary: #2a83d6;
    --background: #fff;
    --text: #000;
}

[data-theme="dark"] {
    --primary: #cd1a1a;
    --background: #1F1F1F;
    --text: #ffffff;
}

body {
    color: var(--text);
    background-color: var(--background);
}

.headerTitulo {
    background-color: var(--primary);
}

.switch {
    margin-left: 50px;
    margin-top: 9px;
}

/* //TODO HISTORIAL */
.historial.col-1 {
    margin-top: 20px;
    margin-left: 15px;
    border: 3px solid var(--primary);
    height: fit-content;
    width: auto;
    background-color: var(--primary);
}

.historial.col-1 header {
    background-color: var(--primary);
}

.historial.col-1 section {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.h2Historial {
    cursor: pointer;
    margin-bottom: 8px;
    border-top: 2px solid var(--primary);
}

/* //? Suma */
#listaHistorialSuma {
    padding: 0px;
    list-style: none;
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
    overflow-y: scroll;
}

.liSuma {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    list-style: none;
    display: block;
}

#limpiarSuma {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
    margin-left: 3px;
    border-radius: 5px;
    padding: 1px;
}

#limpiarSuma:hover {
    background-color: var(--primary);
    border: 1px solid var(--background);
    color: var(--background);
}

/* //? Resta */
#listaHistorialResta {
    padding: 0px;
    list-style: none;
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
}

.liResta {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    list-style: none;
    display: block;
}

#limpiarResta {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
    margin-left: 3px;
    border-radius: 5px;
    padding: 1px;
}

#limpiarResta:hover {
    background-color: var(--primary);
    border: 1px solid var(--background);
    color: var(--background);
}

/* //? Multiplicacion */
#listaHistorialMulti {
    padding: 0px;
    list-style: none;
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
}

.liMulti {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    list-style: none;
    display: block;
}

#limpiarMulti {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
    margin-left: 3px;
    border-radius: 5px;
    padding: 1px;
}

#limpiarMulti:hover {
    background-color: var(--primary);
    border: 1px solid var(--background);
    color: var(--background);
}

/* //? Division */
#listaHistorialDivi {
    padding: 0px;
    list-style: none;
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
}

.liDivi {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    list-style: none;
    display: block;
}

#limpiarDivi {
    background-color: var(--background);
    border: 1px solid var(--primary);
    color: var(--text);
    margin-left: 3px;
    border-radius: 5px;
    padding: 1px;
}

#limpiarDivi:hover {
    background-color: var(--primary);
    border: 1px solid var(--background);
    color: var(--background);
}

/* //TODO eventos especiales */
.navidad {
    background-image: url(../public/regalos-navidad-plano.png);
}

.halloween {
    background-image: url(../public/escena-halloween-hd-calabazas-murcielagos-luna-llena-fondo.png);
}

.navidadSuma {
    background-image: url(../public/contenedores-bg/19506715_6125770.png);
    color: #000;
}

.navidadResta {
    background-image: url(../public/contenedores-bg/christmas-4697165_640.png);
    color: #000;
}

.navidadMulti {
    background-image: url(../public/contenedores-bg/christmas-4697165_641.png);
}

.navidadDivi {
    background-image: url(../public/contenedores-bg/christmas-4697165_642.png);
}